
<div class="login-box" id="contenedor">

    <!-- LOGIN -->
    <h1 id="titlecontenedor">Login Here</h1>

    <form id="formLogin">
      <!-- E-mail -->
      <label for="E-mail">E-mail</label>
      <input type="text" placeholder="Enter E-mail" id="email" autocomplete="off">
      <!-- password-->
      <label for="password">Password</label>
      <input type="password" placeholder="Enter password" id="pass" autocomplete="off">

      <input type="submit" value="Log In" id="btnlog">

      <a href="http://localhost:8080/register" id="btnreg">I´m a new user</a><br>

      <a href="/api/sessions/git">Login with Git</a><br>

      <a href="#">Forgot your password?</a>


  </div>

<script src="/public/js/login.js" type="application/javascript"></script>