<div class="regis-box" id="contenedor">
  <h1>New User</h1>
  <form id="formRegister">
    <input type="email" placeholder="E-mail" id="email" required />
    <input type="text" placeholder="First Name" id="first_name" required />
    <input type="text" placeholder="Last Name" required id="last_name" />
    <input type="Number" placeholder="Age" min="13" required id="age" />
    <input
      type="password"
      placeholder="Password"
      minlength="8"
      required
      id="password"
    />
    <input type="submit" value="Create" />
  </form>
  <a href="http://localhost:8080/login">Quit</a>
</div>

<script src="/public/js/register.js" type="application/javascript"></script>